/* Reset some default browser styles */
body,
h1,
p,
input,
button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Main container for the page */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Footer & Header */
.footer {
  margin-top: 40px;
  text-align: center;
  color: #777;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}

/* Input & Button */


.image-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  /* Container background color */
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  max-height: 200px;
  /* Adjust the height as needed */
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 15px;

}

.input-container input {
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search-button {
  padding: 8px 15px;
  /* Adjust padding to match input field */
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 25px;
  /* Match the input field's border-radius */
  cursor: pointer;
}

.location-dropdown {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* Allow elements to wrap if needed */
  margin-top: 10px;
}

.search-button,
.location-dropdown {
  padding: 10px 20px;
  /* Increase padding */
  margin: 5px;
  /* Add some margin between elements */
  border-radius: 25px;
  cursor: pointer;
}